---
title: In-App-Purchase Shame
---

<!-- Add your site or application content here -->
<%- require 'config/boot' %>
<%- @games = GameRepository.read_top_100.compact %>
<h1>In App Purchase Shame</h1>
<section>
<ul>
  <%- @games .map{|g| GamePresenter.new(g)} .each.with_index do |game, rank| %>
    <li>
  <h2><%= rank + 1 %>
  <a href="<%= game.preview_uri %>" target="blank"><img src="<%= game.image_uri %>"></img></a>
  </h2>
  <h3><%= game.top_iap_title %> <span class='price'>$<%= game.top_iap_price %></span></h3>
  <h4><p><%= game.title %></p></h4>
  <h5><span class='release-date'><%= game.release_date %></span></h5>
  </li>
<%- end %>
</ul>
</section>
